@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 250 10% 11.8%;
  --border: 0 0% 87%;
  --accent: 356.4 64.3% 56%;
  --accent-light: 356.4 64.3% 66%;
  --accent-dark: 356.4 64.3% 46%;

  --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.dark {
  --background: 250 10% 11.8%;
  --foreground: 240 6.9% 88.6%;
  --border: 0 0% 25%;
  --accent: 356.4 64.3% 46%;
}

@layer components {
  .link {
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;

    & ::after {
      content: '';
      transition: 0.5s all ease;
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      bottom: -0.25em;
      height: 2px;
      width: 0;
      background: hsl(var(--accent));
    }
  }
  .link:hover {
    color: hsl(var(--accent));
    ::after {
      width: 100%;
    }
  }

  .title {
    text-decoration: none;
    background-image: linear-gradient(
      transparent calc(100% - 10px),
      hsl(var(--accent) / 0.3) 10px
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all 0.3s;
  }

  .title:hover {
    color: hsl(var(--accent));
    background-size: 100% 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
